@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-regular {
    @apply rounded-lg bg-background-300 px-6 py-3 font-semibold transition hover:bg-background-400;
  }
  .btn-contrast {
    @apply rounded-lg bg-foreground-400 px-6 py-3 font-semibold text-background-200 transition hover:brightness-110;
  }
}

@layer base {
  :root {
    color-scheme: dark;

    --background-200: 25 37 45;
    --background-300: 26 42 53;
    --background-400: 29 48 60;

    --foreground-200: 61 120 135;
    --foreground-400: 165 201 202;

    --text: 231, 246, 242;
    --font-family: "Noto Sans", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background-200));
  color: rgb(var(--text));
}
