@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-regular {
    @apply rounded-lg bg-background-300 px-6 py-3 font-semibold transition hover:bg-background-400;
  }
  .btn-contrast {
    @apply bg-foreground-400 rounded-lg px-6 py-3 font-semibold text-background-200 transition hover:brightness-110;
  }
}

@layer base {
  :root {
    --color-background-200: #19252d;
    --color-background-300: #1a2a35;
    --color-background-400: #1d303c;

    --color-foreground-200: #3d7887;
    --color-foreground-400: #a5c9ca;

    --color-text: #e7f6f2;
    --font-family: "Noto Sans", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-200);
  color: var(--color-text);
}
